<h1>ВРЕМЯ И СВОДНЫЕ ТАБЛИЦЫ</h1>
<p>Имеются следующие данные о транзакциях в период с 01.12.2010 по 12.09.2011:
</p>
<p>InvoiceNo — номер транзакции
</p>
<p>StockCode — код товара
</p>
<p>Description — описание товара
</p>
<p>Quantity — количество единиц товара, добавленных в заказ
</p>
<p>InvoiceDate — дата транзакции
</p>
<p>UnitPrice — цена за единицу товара
</p>
<p>CustomerID — id клиента
</p>
<p>Country — страна, где проживает клиент
</p>
<p></p>

<h2>1 - В данной задаче ссылка для считывания данных лежит в переменной path_to_file. Импортируйте пандас и прочитайте данные с кодировкой ISO-8859-1. Запишите полученный датафрейм в retail, а названия колонок сохраните в переменную retail_columns.</h2>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [59]:
path_to_file = '5_data.csv.zip'
retail = pd.read_csv(path_to_file, encoding='ISO-8859-1')

In [4]:
retail_columns = retail.columns

In [5]:
retail_columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

<h2>2 - Проверьте, встречаются ли в данных повторяющиеся наблюдения, и в качестве ответа укажите их количество. Если они есть, то удалите их из retail.</h2>

In [6]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [15]:
retail.shape

(541909, 8)

In [16]:
len(retail) - len(retail.drop_duplicates())

5268

In [17]:
retail = retail.drop_duplicates()

<h2>★ 3
Данные содержат в себе записи как об успешных транзакциях, так и об отмененных. Если пользователь отменил заказ, в начале номера транзакции (InvoiceNo) ставится C (canceled).

Сколько всего транзакций отменили пользователи? Каждый отдельный тип продукта считайте за отдельную транзакцию - уникальные номера считать не надо.</h2>

In [21]:
retail['InvoiceNo'].str.startswith('C').sum()

9251

In [22]:
len(retail.StockCode) - retail['InvoiceNo'].str.startswith('C').sum()

527390

<h2>4 - Теперь отфильтруйте данные и оставьте в retail только те заказы, где Quantity > 0. В качестве ответа укажите число оставшихся строк.</h2>

In [23]:
retail = retail.query('Quantity > 0')

In [24]:
retail.shape[0]

526054

<h2>5 💀 Сложное задание! 💀
Посчитайте число заказов для каждого пользователя (CustomerID) из Германии (Germany). Оставьте только тех, кто совершил более N транзакций (InvoiceNo), где N – 80% процентиль. Запишите полученные id пользователей в germany_top (не весь датафрейм, только id).</h2>

In [ ]:
retail.quantile

In [37]:
group_germany = retail.query('Country == "Germany"').groupby('CustomerID', as_index=False).agg({'InvoiceNo':'count'})

In [40]:
group_germany = group_germany.astype({'InvoiceNo':'int'})

In [48]:
germany_top = group_germany['CustomerID']

In [43]:
procentil_80 = group_germany.InvoiceNo.quantile(q=0.8)

In [44]:
procentil_80

155.20000000000002

In [46]:
len(group_germany.query('InvoiceNo > @procentil_80'))

19

<h2>★ 6
Используя объект с id пользователей (germany_top), полученный на предыдущем шаге, отфильтруйте наблюдения и оставьте в данных записи только по интересующим нас юзерам. Результирующий датафрейм запишите в top_retail_germany.</h2>

In [49]:
germany_top

0     12426.0
1     12427.0
2     12468.0
3     12471.0
4     12472.0
       ...
89    13814.0
90    13815.0
91    13816.0
92    13817.0
93    14335.0
Name: CustomerID, Length: 94, dtype: float64

In [51]:
top_retail_germany = retail[retail['CustomerID'].isin(germany_top)]

In [52]:
top_retail_germany

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
541801,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,12/9/2011 12:16,1.25,12713.0,Germany
541802,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,12/9/2011 12:16,0.85,12713.0,Germany
541803,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,12/9/2011 12:16,0.85,12713.0,Germany
541804,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,12/9/2011 12:16,2.08,12713.0,Germany
541805,581578,22736,RIBBON REEL MAKING SNOWMEN,10,12/9/2011 12:16,1.65,12713.0,Germany

<h2>7 - Сгруппируйте top_retail_germany по коду товара (StockCode). Какой из продуктов добавляли в корзину чаще всего, кроме POST?

Note: одним заказом считается единовременная покупка любого количества товара, т.е. без учета Quantity.</h2>

In [58]:
top_retail_germany \
        .query('StockCode != "POST"') \
        .groupby('StockCode', as_index=False).agg({'InvoiceNo':'count'}) \
        .sort_values('InvoiceNo', ascending=False) \
        .reset_index() \
        .drop('index', axis=1)

     StockCode  InvoiceNo
0        22326        112
1        22328         72
2        22554         63
3        22423         63
4        20719         58
...        ...        ...
1659     22639          1
1660     22640          1
1661     22645          1
1662     22647          1
1663     22672          1

[1664 rows x 2 columns]

<h2>8 - Вернемся к анализу полного датасета retail. Создайте колонку Revenue с суммой покупки, используя колонки Quantity и UnitPrice.</h2>

In [60]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [61]:
retail['Revenue'] = retail['UnitPrice'] * retail['Quantity']

In [62]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

<h2>9 - Для каждой транзакции (InvoiceNo), посчитайте финальную сумму заказа. В качестве ответа укажите топ-5 (InvoiceNo) по сумме заказа (через запятую с пробелом и в порядке убывания TotalRevenue)</h2>

In [64]:
TotalRevenue = retail.groupby('InvoiceNo') \
    .agg({'Revenue':'sum'}) \
    .sort_values('Revenue', ascending=False) \
    .head()['Revenue'].to_list()

In [65]:
TotalRevenue

[168469.6, 77183.6, 52940.94, 50653.91, 38970.0]